@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center pt-3">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-dark">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Coaches</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@ViewBag.CoachCount</h1>
                <a asp-action="Index" asp-controller="Coaches" class="w-100 btn btn-lg btn-primary">Get started</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-dark">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Halls</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@ViewBag.HallsCount</h1>
                <a asp-action="Index" asp-controller="Halls" class="w-100 btn btn-lg btn-primary">Get started</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-dark">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Clients</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@ViewBag.ClientCount</h1>
                <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
            </div>
        </div>
    </div>
</div>
